# Pipeline Notebook

ðŸ“Œ For interactive work, exploring results, viewing outputs, testing, learning, experimenting.

In [1]:
import sys, os

# Add project root to sys.path
project_root = os.path.abspath("..")
sys.path.append(project_root)

# Confirm
print("Project root added:", project_root)

Project root added: c:\Users\ilham\Downloads\dba proje\tppandas

In [2]:
from preprocessing.pipeline import *
from preprocessing import *
import pandas as pd

## Run Full Preprocessing

In [3]:
df = full_preprocessing("../data/morocco_ecommerce.csv")

--- Loading Data (Q1â€“Q4) ---

DataFrame Shape: (5000, 14)

DataFrame Columns: ['order_id', 'customer_id', 'order_date', 'ship_date', 'region', 'city', 'payment_method', 'product_category', 'product_id', 'quantity', 'unit_price', 'total_amount', 'discount_code', 'order_status']

Data Types:
 order_id             object
customer_id          object
order_date           object
ship_date            object
region               object
city                 object
payment_method       object
product_category     object
product_id           object
quantity              int64
unit_price          float64
total_amount        float64
discount_code        object
order_status         object
dtype: object

--- Handling Missing Values (Q5â€“Q9) ---
order_id              0
customer_id           0
order_date            0
ship_date             0
region                0
city                  0
payment_method        0
product_category      0
product_id            0
quantity              0
unit_price            0
total_amount          0
discount_code       830
order_status          0
dtype: int64
Column with most missing: ('discount_code', np.int64(830))
No missing city values to fill
No missing unit_price values to fill
Dropping rows with ANY missing values
Missing values after cleaning:
 order_id            0
customer_id         0
order_date          0
ship_date           0
region              0
city                0
payment_method      0
product_category    0
product_id          0
quantity            0
unit_price          0
total_amount        0
discount_code       0
order_status        0
dtype: int64 (4170, 14)

--- Handling Duplicates (Q10â€“Q12) ---
Duplicate count: 0

--- Cleaning String Columns (Q20â€“Q21) ---
Cleaning city format and replacing Casa variants
checking city before cleaning: ['Casablanca' 'KhÃ©nifra' 'BÃ©ni Mellal' 'TÃ©touan' 'Agadir' 'Dakhla'
 'Errachidia' 'Tanger' 'Nador' 'LaÃ¢youne' 'Settat' 'Rabat' 'Ouarzazate'
 'Oujda' 'MeknÃ¨s' 'Guelmim' 'Tiznit' 'El Jadida' 'Mohammedia' 'Inezgane'
 'Chichaoua' 'Marrakech' 'KÃ©nitra' 'Safi' 'Al HoceÃ¯ma' 'FÃ¨s' 'SalÃ©'
 'Berkane']
checking city after cleaning: ['Casablanca' 'KhÃ©nifra' 'BÃ©ni Mellal' 'TÃ©touan' 'Agadir' 'Dakhla'
 'Errachidia' 'Tanger' 'Nador' 'LaÃ¢youne' 'Settat' 'Rabat' 'Ouarzazate'
 'Oujda' 'MeknÃ¨s' 'Guelmim' 'Tiznit' 'El Jadida' 'Mohammedia' 'Inezgane'
 'Chichaoua' 'Marrakech' 'KÃ©nitra' 'Safi' 'Al HoceÃ¯ma' 'FÃ¨s' 'SalÃ©'
 'Berkane']

--- Handling Dates (Q22â€“Q25) ---
checking order_date dtype before conversion: object
checking order_date dtype after conversion: datetime64[ns]
Adding date features: year, month, weekday
displaying first 5 rows with new date features:
  order_date  year  month   weekday
0 2023-03-14  2023      3   Tuesday
1 2023-01-13  2023      1    Friday
2 2023-08-17  2023      8  Thursday
6 2023-07-01  2023      7  Saturday
7 2023-10-29  2023     10    Sunday
filtering orders after 2022-01-01
Average monthly revenue:
order_date
2023-01-31    1209.615869
2023-02-28    1209.370192
2023-03-31    1262.845769
2023-04-30    1222.240596
2023-05-31    1216.257896
2023-06-30    1228.625952
2023-07-31    1197.785614
2023-08-31    1187.594302
2023-09-30    1199.292941
2023-10-31    1158.628140
2023-11-30    1144.903802
2023-12-31    1192.591398
Freq: ME, Name: total_amount, dtype: float64

--- Detecting Outliers (Q26â€“Q28) ---
Outliers detected by IQR method:
Outliers detected by Z-score method:
Top 5 largest orders by total_amount:
       order_id  total_amount
830   ORD000831       4761.88
1517  ORD001518       4167.88
568   ORD000569       4061.29
4977  ORD004978       3996.13
625   ORD000626       3950.56

## Save Cleaned Dataset

In [4]:
import os

def validate_output_folder(path):
    folder = os.path.dirname(path)
    if folder != "" and not os.path.exists(folder):
        os.makedirs(folder)

In [5]:
validate_output_folder("../results/cleaned_dataset.csv")
cleaned_df.to_csv("../results/cleaned_dataset.csv", index=False)
"Saved!"

NameError: name 'cleaned_df' is not defined

In [ ]:
cleaned_df.shape

(5000, 14)