# Pipeline Notebook

üìå For interactive work, exploring results, viewing outputs, testing, learning, experimenting.

In [1]:
import sys, os

# Add project root to sys.path
project_root = os.path.abspath("..")
sys.path.append(project_root)

# Confirm
print("Project root added:", project_root)

Project root added: c:\Users\ilham\Downloads\dba proje\tppandas

In [2]:
from preprocessing.pipeline import bup_full_preprocessing
from preprocessing.pipeline import full_preprocessing
from preprocessing import *
import pandas as pd

## Run Full Preprocessing

### The preprocessing of csv file (first project)

In [3]:
df = bup_full_preprocessing("../data/morocco_ecommerce.csv")

--- Loading Data (Q1‚ÄìQ4) ---

--- Handling Missing Values (Q5‚ÄìQ9) ---
order_id              0
customer_id           0
order_date            0
ship_date             0
region                0
city                  0
payment_method        0
product_category      0
product_id            0
quantity              0
unit_price            0
total_amount          0
discount_code       830
order_status          0
dtype: int64
Column with most missing: ('discount_code', np.int64(830))
No missing city values to fill
No missing unit_price values to fill
Dropping rows with ANY missing values
Missing values after cleaning:
 order_id            0
customer_id         0
order_date          0
ship_date           0
region              0
city                0
payment_method      0
product_category    0
product_id          0
quantity            0
unit_price          0
total_amount        0
discount_code       0
order_status        0
dtype: int64 (4170, 14)

--- Handling Duplicates (Q10‚ÄìQ12) ---
Duplicate count: 0

--- Filtering Examples (Q13‚ÄìQ16) ---
Filtering quantity > 3        order_id customer_id  order_date   ship_date  \
6     ORD000007    CUS00172  2023-07-01  2023-07-08
8     ORD000009    CUS00403  2023-09-18  2023-09-28
9     ORD000010    CUS00189  2023-04-11  2023-04-11
10    ORD000011    CUS01053  2023-11-04  2023-11-11
16    ORD000017    CUS01026  2023-01-21  2023-01-30
...         ...         ...         ...         ...
4980  ORD004981    CUS01802  2023-06-15  2023-06-17
4984  ORD004985    CUS00385  2023-04-08  2023-04-10
4988  ORD004989    CUS01863  2023-08-29  2023-08-29
4997  ORD004998    CUS01639  2023-05-09  2023-05-16
4998  ORD004999    CUS01357  2023-07-25  2023-07-30

                         region        city    payment_method  \
6     Tanger-T√©touan-Al Hoce√Øma     T√©touan       Credit Card
8          Dakhla-Oued Ed-Dahab      Dakhla     Bank Transfer
9          B√©ni Mellal-Kh√©nifra    Kh√©nifra  Cash on Delivery
10               Dr√¢a-Tafilalet  Errachidia       Credit Card
16                     Oriental       Nador     Bank Transfer
...                         ...         ...               ...
4980  Tanger-T√©touan-Al Hoce√Øma  Al Hoce√Øma  Cash on Delivery
4984             Dr√¢a-Tafilalet  Errachidia    Mobile Payment
4988  Tanger-T√©touan-Al Hoce√Øma      Tanger    Mobile Payment
4997  Tanger-T√©touan-Al Hoce√Øma  Al Hoce√Øma     Bank Transfer
4998  Tanger-T√©touan-Al Hoce√Øma      Tanger       Credit Card

     product_category product_id  quantity  unit_price  total_amount  \
6      Home & Kitchen     P00935         4      299.21       1196.82
8               Books     P00800         4      578.45       2313.81
9              Beauty     P00364         4      752.41       3009.65
10        Electronics     P00128         5      335.76       1678.81
16            Fashion     P00913         4      378.92       1515.69
...               ...        ...       ...         ...           ...
4980           Beauty     P00219         5      625.07       3125.35
4984   Home & Kitchen     P00659         4      468.93       1875.71
4988      Electronics     P00116         4      402.50       1610.00
4997           Sports     P00298         4      548.73       2194.92
4998           Sports     P00456         5      453.58       2267.92

     discount_code order_status
6            AYD10   Processing
8          WELCOME    Cancelled
9           SALE20    Delivered
10        FREESHIP    Delivered
16        FREESHIP   Processing
...            ...          ...
4980     RAMADAN10   Processing
4984      FREESHIP    Cancelled
4988         AYD10      Shipped
4997      FREESHIP     Returned
4998         AYD10    Cancelled

[1651 rows x 14 columns]
Filtering total_amount > 1000        order_id customer_id  order_date   ship_date  \
0     ORD000001    CUS00179  2023-03-14  2023-03-17
1     ORD000002    CUS01548  2023-01-13  2023-01-15
6     ORD000007    CUS00172  2023-07-01  2023-07-08
8     ORD000009    CUS00403  2023-09-18  2023-09-28
9     ORD000010    CUS00189  2023-04-11  2023-04-11
...         ...         ...         ...         ...
4984  ORD004985    CUS00385  2023-04-08  2023-04-10
4987  ORD004988    CUS01846  2023-05-10  2023-05-11
4988  ORD004989    CUS01863  2023-08-29  2023-08-29
4997  ORD004998    CUS01639  2023-05-09  2023-05-16
4998  ORD004999    CUS01357  2023-07-25  2023-07-30

                         region        city    payment_method  \
0             Casablanca-Settat  Casablanca       Credit Card
1          B√©ni Mellal-Kh√©nifra    Kh√©nifra     Bank Transfer
6     Tanger-T√©touan-Al Hoce√Øma     T√©touan       Credit Card
8          Dakhla-Oued Ed-Dahab      Dakhla     Bank Transfer
9          B√©ni Mellal-Kh√©nifra    Kh√©nifra  Cash on Delivery
...                         ...         ...               ...
4984             Dr√¢a-Tafilalet  Errachidia    Mobile Payment
4987         Rabat-Sal√©-K√©nitra       Rabat  Cash on Delivery
4988  Tanger-T√©touan-Al Hoce√Øma      Tanger    Mobile Payment
4997  Tanger-T√©touan-Al Hoce√Øma  Al Hoce√Øma     Bank Transfer
4998  Tanger-T√©touan-Al Hoce√Øma      Tanger       Credit Card

     product_category product_id  quantity  unit_price  total_amount  \
0         Electronics     P00778         3      438.40       1315.19
1      Home & Kitchen     P00081         3      417.67       1253.02
6      Home & Kitchen     P00935         4      299.21       1196.82
8               Books     P00800         4      578.45       2313.81
9              Beauty     P00364         4      752.41       3009.65
...               ...        ...       ...         ...           ...
4984   Home & Kitchen     P00659         4      468.93       1875.71
4987            Books     P00341         2      669.56       1339.13
4988      Electronics     P00116         4      402.50       1610.00
4997           Sports     P00298         4      548.73       2194.92
4998           Sports     P00456         5      453.58       2267.92

     discount_code order_status
0           SALE20     Returned
1         FREESHIP      Shipped
6            AYD10   Processing
8          WELCOME    Cancelled
9           SALE20    Delivered
...            ...          ...
4984      FREESHIP    Cancelled
4987         AYD10    Delivered
4988         AYD10      Shipped
4997      FREESHIP     Returned
4998         AYD10    Cancelled

[2249 rows x 14 columns]
Filtering region Casablanca-Settat        order_id customer_id  order_date   ship_date             region  \
0     ORD000001    CUS00179  2023-03-14  2023-03-17  Casablanca-Settat
18    ORD000019    CUS01679  2023-10-12  2023-10-20  Casablanca-Settat
39    ORD000040    CUS01263  2023-03-20  2023-03-24  Casablanca-Settat
44    ORD000045    CUS00136  2023-10-22  2023-10-27  Casablanca-Settat
67    ORD000068    CUS00741  2023-01-06  2023-01-11  Casablanca-Settat
...         ...         ...         ...         ...                ...
4931  ORD004932    CUS01468  2023-01-04  2023-01-04  Casablanca-Settat
4932  ORD004933    CUS01798  2023-01-05  2023-01-12  Casablanca-Settat
4956  ORD004957    CUS00322  2023-10-07  2023-10-10  Casablanca-Settat
4963  ORD004964    CUS00470  2023-03-23  2023-04-02  Casablanca-Settat
4992  ORD004993    CUS01982  2023-11-30  2023-12-10  Casablanca-Settat

            city    payment_method product_category product_id  quantity  \
0     Casablanca       Credit Card      Electronics     P00778         3
18        Settat    Mobile Payment          Fashion     P00215         2
39     El Jadida    Mobile Payment           Sports     P00696         3
44    Mohammedia     Bank Transfer           Sports     P00533         2
67    Casablanca  Cash on Delivery      Electronics     P00082         2
...          ...               ...              ...        ...       ...
4931      Settat     Bank Transfer            Books     P00142         5
4932  Casablanca    Mobile Payment      Electronics     P00840         5
4956  Casablanca    Mobile Payment      Electronics     P00126         3
4963   El Jadida       Credit Card      Electronics     P00107         3
4992  Casablanca  Cash on Delivery   Home & Kitchen     P00107         1

      unit_price  total_amount discount_code order_status
0         438.40       1315.19        SALE20     Returned
18        537.96       1075.91      FREESHIP      Shipped
39        552.81       1658.44      FREESHIP   Processing
44        487.67        975.34     RAMADAN10    Delivered
67        540.78       1081.55        SALE20    Cancelled
...          ...           ...           ...          ...
4931      407.96       2039.81     RAMADAN10     Returned
4932      598.59       2992.93         AYD10   Processing
4956      302.05        906.14        SALE20     Returned
4963      470.57       1411.72      FREESHIP   Processing
4992      387.31        387.31        SALE20    Delivered

[374 rows x 14 columns]
Filtering payment_method not Cash        order_id customer_id  order_date   ship_date  \
0     ORD000001    CUS00179  2023-03-14  2023-03-17
1     ORD000002    CUS01548  2023-01-13  2023-01-15
2     ORD000003    CUS01309  2023-08-17  2023-08-22
6     ORD000007    CUS00172  2023-07-01  2023-07-08
8     ORD000009    CUS00403  2023-09-18  2023-09-28
...         ...         ...         ...         ...
4991  ORD004992    CUS01044  2023-03-23  2023-03-31
4995  ORD004996    CUS00424  2023-06-21  2023-06-26
4997  ORD004998    CUS01639  2023-05-09  2023-05-16
4998  ORD004999    CUS01357  2023-07-25  2023-07-30
4999  ORD005000    CUS00997  2023-08-12  2023-08-12

                         region         city  payment_method product_category  \
0             Casablanca-Settat   Casablanca     Credit Card      Electronics
1          B√©ni Mellal-Kh√©nifra     Kh√©nifra   Bank Transfer   Home & Kitchen
2          B√©ni Mellal-Kh√©nifra  B√©ni Mellal   Bank Transfer   Home & Kitchen
6     Tanger-T√©touan-Al Hoce√Øma      T√©touan     Credit Card   Home & Kitchen
8          Dakhla-Oued Ed-Dahab       Dakhla   Bank Transfer            Books
...                         ...          ...             ...              ...
4991                Souss-Massa       Agadir  Mobile Payment           Sports
4995         Rabat-Sal√©-K√©nitra         Sal√©   Bank Transfer           Beauty
4997  Tanger-T√©touan-Al Hoce√Øma   Al Hoce√Øma   Bank Transfer           Sports
4998  Tanger-T√©touan-Al Hoce√Øma       Tanger     Credit Card           Sports
4999                Souss-Massa       Tiznit     Credit Card            Books

     product_id  quantity  unit_price  total_amount discount_code order_status
0        P00778         3      438.40       1315.19        SALE20     Returned
1        P00081         3      417.67       1253.02      FREESHIP      Shipped
2        P00215         2      384.54        769.09       WELCOME     Returned
6        P00935         4      299.21       1196.82         AYD10   Processing
8        P00800         4      578.45       2313.81       WELCOME    Cancelled
...         ...       ...         ...           ...           ...          ...
4991     P00652         2      383.28        766.56        SALE20    Cancelled
4995     P00917         3      280.20        840.60      FREESHIP    Delivered
4997     P00298         4      548.73       2194.92      FREESHIP     Returned
4998     P00456         5      453.58       2267.92         AYD10    Cancelled
4999     P00301         1      441.38        441.38     RAMADAN10    Delivered

[3164 rows x 14 columns]

--- Descriptive Statistics (Q17‚ÄìQ19) ---
Total amount summary: {'mean': np.float64(1203.3114508393285), 'median': np.float64(1077.54), 'min': np.float64(20.0), 'max': np.float64(4761.88)}
Region with highest average total_amount: Souss-Massa
Product with highest revenue: ('P00219', np.float64(16164.05))

--- Cleaning String Columns (Q20‚ÄìQ21) ---
Cleaning city format and replacing Casa variants
checking city before cleaning: ['Casablanca' 'Kh√©nifra' 'B√©ni Mellal' 'T√©touan' 'Agadir' 'Dakhla'
 'Errachidia' 'Tanger' 'Nador' 'La√¢youne' 'Settat' 'Rabat' 'Ouarzazate'
 'Oujda' 'Mekn√®s' 'Guelmim' 'Tiznit' 'El Jadida' 'Mohammedia' 'Inezgane'
 'Chichaoua' 'Marrakech' 'K√©nitra' 'Safi' 'Al Hoce√Øma' 'F√®s' 'Sal√©'
 'Berkane']
checking city after cleaning: ['Casablanca' 'Kh√©nifra' 'B√©ni Mellal' 'T√©touan' 'Agadir' 'Dakhla'
 'Errachidia' 'Tanger' 'Nador' 'La√¢youne' 'Settat' 'Rabat' 'Ouarzazate'
 'Oujda' 'Mekn√®s' 'Guelmim' 'Tiznit' 'El Jadida' 'Mohammedia' 'Inezgane'
 'Chichaoua' 'Marrakech' 'K√©nitra' 'Safi' 'Al Hoce√Øma' 'F√®s' 'Sal√©'
 'Berkane']

--- Handling Dates (Q22‚ÄìQ25) ---
checking order_date dtype before conversion: object
checking order_date dtype after conversion: datetime64[ns]
Adding date features: year, month, weekday
displaying first 5 rows with new date features:
  order_date  year  month   weekday
0 2023-03-14  2023      3   Tuesday
1 2023-01-13  2023      1    Friday
2 2023-08-17  2023      8  Thursday
6 2023-07-01  2023      7  Saturday
7 2023-10-29  2023     10    Sunday
filtering orders after 2022-01-01
Average monthly revenue:
order_date
2023-01-31    1209.615869
2023-02-28    1209.370192
2023-03-31    1262.845769
2023-04-30    1222.240596
2023-05-31    1216.257896
2023-06-30    1228.625952
2023-07-31    1197.785614
2023-08-31    1187.594302
2023-09-30    1199.292941
2023-10-31    1158.628140
2023-11-30    1144.903802
2023-12-31    1192.591398
Freq: ME, Name: total_amount, dtype: float64

--- Detecting Outliers (Q26‚ÄìQ28) ---
Outliers detected by IQR method:
Outliers detected by Z-score method:
Top 5 largest orders by total_amount:
       order_id  total_amount
830   ORD000831       4761.88
1517  ORD001518       4167.88
568   ORD000569       4061.29
4977  ORD004978       3996.13
625   ORD000626       3950.56

### The preprocessing of xlsx with anomalies file (second project)

In [4]:
df = full_preprocessing("../data/morocco_ecommerce_anomalies.xlsx")

[TEST MODE] Cleaning 'quantity' ‚Üí BEFORE:
0    NaN
1      3
2      2
3      4
4      1
5      4
6      4
7      1
8      4
9      4
Name: quantity, dtype: object

[TEST MODE] Cleaning 'quantity' ‚Üí AFTER:
0    NaN
1    3.0
2    2.0
3    4.0
4    1.0
5    4.0
6    4.0
7    1.0
8    4.0
9    4.0
Name: quantity, dtype: float64

[TEST MODE] Cleaning 'unit_price' ‚Üí BEFORE:
0      free
1    417.67
2    384.54
3    206.38
4    426.41
5    135.49
6    299.21
7    473.38
8    578.45
9    752.41
Name: unit_price, dtype: object

Invalid values detected in 'unit_price':
       order_id customer_id  order_date   ship_date  \
0     ORD000001    CUS00179  2023-03-14  2023-03-17
23    ORD000024    CUS01853  2023-06-02  2023-06-07
90    ORD001975    CUS01118  2023-04-22  2023-04-26
93    ORD000094    CUS00775  2023-12-20  2023-12-22
320   ORD000321    CUS00642  25/04/2023  2023-05-05
...         ...         ...         ...         ...
4664  ORD002490    CUS00715  2023-02-02  2023-02-03
4798  ORD004799    CUS00782  2023-09-17         NaN
4964  ORD004965    CUS01889  2023-08-25  2023-08-25
4975  ORD004976    CUS01605  2023-03-11  2023-03-11
4992  ORD004993    CUS01982  2023-11-30  2023-12-10

                         region           city    payment_method  \
0             Casablanca-Settat     Casablanca       Credit Card
23         B√©ni Mellal-Kh√©nifra    B√©ni Mellal               NaN
90            Guelmim-Oued Noun        Guelmim    Mobile Payment
93         B√©ni Mellal-Kh√©nifra       Kh√©nifra       Credit Card
320           Guelmim-Oued Noun        Guelmim     Bank Transfer
...                         ...            ...               ...
4664       B√©ni Mellal-Kh√©nifra       Kh√©nifra       Credit Card
4798                 F√®s-Mekn√®s         Mekn√®s     Bank Transfer
4964  Tanger-T√©touan-Al Hoce√Øma     Al Hoce√Øma       Credit Card
4975          Guelmim-Oued Noun        Guelmim  Cash on Delivery
4992          Casablanca-Settat   Casablanca                 NaN

     product_category product_id  quantity unit_price  total_amount  \
0         electronics     P00778       NaN       free       1315.19
23              books     P00190       2.0       free        520.39
90            Fashion     P00362       1.0       free        134.66
93     Home & Kitchen     P00633       2.0    1043,00       2086.00
320            Beauty     P00119       5.0     761,00       3805.00
...               ...        ...       ...        ...           ...
4664          Fashion     P00457       4.0       free       1757.66
4798   Home & Kitchen     P00579       2.0       free       1007.78
4964           Beauty     P00725       2.0    1921,00       3842.00
4975           Beauty     P00668       4.0       free        661.72
4992   Home & Kitchen     P00107       1.0       free        387.31

     discount_code order_status
0           SALE20     Returned
23          SALE20   Processing
90             NaN    Cancelled
93           AYD10    Cancelled
320      RAMADAN10      Shipped
...            ...          ...
4664           NaN    Cancelled
4798       WELCOME    Delivered
4964           NaN   Processing
4975         AYD10     Returned
4992        SALE20    Delivered

[94 rows x 14 columns]

[TEST MODE] Cleaning 'unit_price' ‚Üí AFTER:
0      0.00
1    417.67
2    384.54
3    206.38
4    426.41
5    135.49
6    299.21
7    473.38
8    578.45
9    752.41
Name: unit_price, dtype: float64

========== [TEST MODE] clean_city_column() ==========

BEFORE cleaning ('city'):
0     Casablanca
1       Kh√©nifra
2    B√©ni Mellal
3        Berkane
4       Kh√©nifra
5      Marrakech
6        T√©touan
7         Agadir
8         Dakhla
9       Kh√©nifra
Name: city, dtype: object

Raw unique values (sample):
['Casablanca' 'Kh√©nifra' 'B√©ni Mellal' 'Berkane' 'Marrakech' 'T√©touan'
 'Agadir' 'Dakhla' 'Errachidia' 'Nador' 'Tanger' 'La√¢youne'
 ' Errachidia  ' 'Settat' 'Rabat' 'Ouarzazate' 'Oujda' 'Mekn√®s' 'Guelmim'
 'Mohammedia']

Values replaced by mapping:
66     <NA>
91     <NA>
114    <NA>
155    <NA>
162    <NA>
163    casa
169    <NA>
210    <NA>
218    <NA>
228    <NA>
Name: city, dtype: object

Unknown city names (not in mapping):
['al hoce√Øma', 'dakhla', 'k√©nitra', 'rabat']

AFTER cleaning:
0     casablanca
1       kh√©nifra
2    b√©ni mellal
3        berkane
4       kh√©nifra
5      marrakech
6        t√©touan
7         agadir
8         dakhla
9       kh√©nifra
Name: city, dtype: object

=====================================================

========== [TEST MODE] clean_region_column() ==========

BEFORE cleaning ('region'):
0            Casablanca-Settat
1         B√©ni Mellal-Kh√©nifra
2         B√©ni Mellal-Kh√©nifra
3                     Oriental
4         B√©ni Mellal-Kh√©nifra
5               Marrakech-Safi
6    Tanger-T√©touan-Al Hoce√Øma
7                  Souss-Massa
8         Dakhla-Oued Ed-Dahab
9         B√©ni Mellal-Kh√©nifra
Name: region, dtype: object

Raw unique region values (sample):
['Casablanca-Settat' 'B√©ni Mellal-Kh√©nifra' 'Oriental' 'Marrakech-Safi'
 'Tanger-T√©touan-Al Hoce√Øma' 'Souss-Massa' 'Dakhla-Oued Ed-Dahab'
 'DR√ÇA TAFILALET' 'La√¢youne-Sakia El Hamra' 'Dr√¢a-Tafilalet'
 'RABAT SAL√â K√âNITRA' 'CASABLANCA SETTAT' 'Guelmim-Oued Noun'
 'LA√ÇYOUNE SAKIA EL HAMRA' 'F√®s-Mekn√®s' 'Rabat-Sal√©-K√©nitra'
 'GUELMIM OUED NOUN' 'MARRAKECH SAFI' 'TANGER T√âTOUAN AL HOCE√èMA'
 'Casablanca-Settat ']

Values replaced by mapping:
10             dr√¢a tafilalet
17                       <NA>
18                       <NA>
20         rabat sal√© k√©nitra
24                       <NA>
25          casablanca settat
36    la√¢youne sakia el hamra
55          guelmim oued noun
59             marrakech safi
60                       <NA>
Name: region, dtype: object

Unknown region names (not in mapping):
None

AFTER cleaning:
0            casablanca-settat
1         b√©ni mellal-kh√©nifra
2         b√©ni mellal-kh√©nifra
3                     oriental
4         b√©ni mellal-kh√©nifra
5               marrakech-safi
6    tanger-t√©touan-al hoce√Øma
7                  souss-massa
8         dakhla-oued ed-dahab
9         b√©ni mellal-kh√©nifra
Name: region, dtype: object

=====================================================

========== [TEST MODE] complete_amounts() ==========

Missing BEFORE:
quantity        64
unit_price      64
total_amount     0
dtype: int64

Rows where total_amount can be computed: 0
Rows where unit_price can be computed: 63
Rows where quantity can be computed: 62

Replacing remaining quantity NaN with mean = 4
Replacing remaining unit_price NaN with mean = 717.30

AFTER fixing:
   quantity  unit_price  total_amount
0         4        0.00           0.0
1         3      417.67       1253.01
2         2      384.54        769.08
3         4      206.38        825.52
4         1      426.41        426.41
5         4      135.49        541.96
6         4      299.21       1196.84
7         1      473.38        473.38
8         4      578.45        2313.8
9         4      752.41       3009.64

Missing AFTER:
quantity        0
unit_price      0
total_amount    0
dtype: int64
=====================================================

========== [TEST MODE] clean_region_column() ==========

BEFORE cleaning ('region'):
0            Casablanca-Settat
1         B√©ni Mellal-Kh√©nifra
2         B√©ni Mellal-Kh√©nifra
3                     Oriental
4         B√©ni Mellal-Kh√©nifra
5               Marrakech-Safi
6    Tanger-T√©touan-Al Hoce√Øma
7                  Souss-Massa
8         Dakhla-Oued Ed-Dahab
9         B√©ni Mellal-Kh√©nifra
Name: region, dtype: object

Raw unique region values (sample):
['Casablanca-Settat' 'B√©ni Mellal-Kh√©nifra' 'Oriental' 'Marrakech-Safi'
 'Tanger-T√©touan-Al Hoce√Øma' 'Souss-Massa' 'Dakhla-Oued Ed-Dahab'
 'Dr√¢a-Tafilalet' 'La√¢youne-Sakia El Hamra' '<Na>' 'Rabat-Sal√©-K√©nitra'
 'Guelmim-Oued Noun' 'F√®s-Mekn√®s']

Values replaced by mapping:
No region names were replaced.

Unknown region names (not in mapping):
['<na>']

AFTER cleaning:
0            casablanca-settat
1         b√©ni mellal-kh√©nifra
2         b√©ni mellal-kh√©nifra
3                     oriental
4         b√©ni mellal-kh√©nifra
5               marrakech-safi
6    tanger-t√©touan-al hoce√Øma
7                  souss-massa
8         dakhla-oued ed-dahab
9         b√©ni mellal-kh√©nifra
Name: region, dtype: object

=====================================================

========== [TEST MODE] clean_city_column() ==========

BEFORE cleaning ('city'):
0     Casablanca
1       Kh√©nifra
2    B√©ni Mellal
3        Berkane
4       Kh√©nifra
5      Marrakech
6        T√©touan
7         Agadir
8         Dakhla
9       Kh√©nifra
Name: city, dtype: object

Raw unique values (sample):
['Casablanca' 'Kh√©nifra' 'B√©ni Mellal' 'Berkane' 'Marrakech' 'T√©touan'
 'Agadir' 'Dakhla' 'Errachidia' 'Nador' 'Tanger' 'La√¢youne' 'Settat'
 'Rabat' 'Ouarzazate' 'Oujda' 'Mekn√®s' 'Guelmim' 'Mohammedia' 'Tiznit']

Values replaced by mapping:
No values were replaced.

Unknown city names (not in mapping):
['<na>', 'al hoce√Øma', 'dakhla', 'k√©nitra', 'rabat']

AFTER cleaning:
0     casablanca
1       kh√©nifra
2    b√©ni mellal
3        berkane
4       kh√©nifra
5      marrakech
6        t√©touan
7         agadir
8         dakhla
9       kh√©nifra
Name: city, dtype: object

=====================================================

========== [TEST MODE] normalize_date() ==========

Before normalization (raw values of 'order_date'):
0   2023-03-14
1   2023-01-13
2   2023-08-17
3   2023-09-06
4   2023-10-09
5   2023-09-05
6   2023-07-01
7   2023-10-29
8   2023-09-18
9   2023-04-11
Name: order_date, dtype: datetime64[ns]

Unique sample values BEFORE:
['2023-03-14' '2023-01-13' '2023-08-17' '2023-09-06' '2023-10-09'
 '2023-09-05' '2023-07-01' '2023-10-29' '2023-09-18' '2023-04-11'
 '2023-11-04' '2023-01-20' '2023-08-06' '2023-12-09' '2023-08-28']

Invalid date values detected: 0

After normalization (parsed values):
0   2023-03-14
1   2023-01-13
2   2023-08-17
3   2023-09-06
4   2023-10-09
5   2023-09-05
6   2023-07-01
7   2023-10-29
8   2023-09-18
9   2023-04-11
Name: order_date, dtype: datetime64[ns]

=====================================================

========== [TEST MODE] normalize_date() ==========

Before normalization (raw values of 'ship_date'):
0   2023-03-17
1   2023-01-15
2   2023-08-22
3   2023-09-13
4   2023-08-18
5   2023-12-20
6   2023-07-08
7   2023-10-30
8   2023-09-28
9   2023-04-11
Name: ship_date, dtype: datetime64[ns]

Unique sample values BEFORE:
['2023-03-17' '2023-01-15' '2023-08-22' '2023-09-13' '2023-08-18'
 '2023-12-20' '2023-07-08' '2023-10-30' '2023-09-28' '2023-04-11'
 '2023-11-11' '2023-01-24' '2023-08-13' '2023-12-17' '2023-09-04']

Invalid date values detected: 0

After normalization (parsed values):
0   2023-03-17
1   2023-01-15
2   2023-08-22
3   2023-09-13
4   2023-08-18
5   2023-12-20
6   2023-07-08
7   2023-10-30
8   2023-09-28
9   2023-04-11
Name: ship_date, dtype: datetime64[ns]

=====================================================

========== [TEST MODE] mark_outliers_iqr() ==========
Column analyzed : total_amount
Lower bound     : -1204.705
Upper bound     : 3501.215

Number of outliers detected : 139

Example outliers (first 10):
      order_id customer_id order_date  ship_date                region  \
158  ORD000159    CUS01010 2023-02-20 2023-03-02     guelmim-oued noun
256  ORD000257    CUS01355 2023-09-05 2023-01-30  dakhla-oued ed-dahab
260  ORD000261    CUS01587 2023-12-28 2023-12-29           souss-massa
299  ORD000300    CUS00044 2023-09-05 2023-05-09              oriental
307  ORD000308    CUS01108 2023-09-29 2023-10-01     casablanca-settat
349  ORD000350    CUS00330 2023-07-31 2023-08-01           souss-massa
370  ORD000371    CUS00671 2023-09-05 2023-08-18              oriental
395  ORD000396    CUS01749 2023-01-12 2023-01-15     guelmim-oued noun
436  ORD000437    CUS01134 2023-05-28 2023-05-31     guelmim-oued noun
444  ORD000445    CUS01017 2023-04-02 2023-04-11            f√®s-mekn√®s

          city    payment_method product_category product_id  quantity  ...  \
158    guelmim  Cash On Delivery      Electronics     P00816         4  ...
256     dakhla    Mobile Payment      Electronics     P00956         5  ...
260   inezgane               Nan           Beauty     P00185       113  ...
299      oujda    Mobile Payment      Electronics     P00430        95  ...
307  el jadida  Cash On Delivery           Beauty     P00176       160  ...
349   inezgane       Credit Card            Books     P00636        64  ...
370      oujda    Mobile Payment            Books     P00722        57  ...
395    guelmim       Credit Card          Fashion     P00666         4  ...
436    guelmim  Cash On Delivery          Fashion     P00318         2  ...
444        f√®s     Bank Transfer           Sports     P00932         2  ...

     ship_year  ship_month ship_day ship_weekday  discount_rate  \
158       2023           3        2     Thursday            0.1
256       2023           1       30       Monday            0.1
260       2023          12       29       Friday            0.2
299       2023           5        9      Tuesday            0.1
307       2023          10        1       Sunday            0.0
349       2023           8        1      Tuesday            0.2
370       2023           8       18       Friday            0.1
395       2023           1       15       Sunday            0.0
436       2023           5       31    Wednesday            0.1
444       2023           4       11      Tuesday            0.1

     discount_amount  net_amount        tax  zscore_total_amount  \
158          14672.4    132051.6   26410.32            11.825900
256          363.915    3275.235    655.047             0.089468
260        11843.756   47375.024  9475.0048             4.648347
299         1832.455   16492.095   3298.419             1.294027
307              0.0     79318.4   15863.68             6.297004
349         2381.312    9525.248  1905.0496             0.767596
370         3319.053   29871.477  5974.2954             2.513399
395              0.0    173964.0    34792.8            14.060241
436           9346.6     84119.4   16823.88             7.457451
444           4621.4     41592.6    8318.52             3.581639

     is_outlier_total_amount_iqr
158                         True
256                         True
260                         True
299                         True
307                         True
349                         True
370                         True
395                         True
436                         True
444                         True

[10 rows x 28 columns]

Preview of column with flag :
   total_amount  is_outlier_total_amount_iqr
0           0.0                        False
1       1253.01                        False
2        769.08                        False
3        825.52                        False
4        426.41                        False
5        541.96                        False
6       1196.84                        False
7        473.38                        False
8        2313.8                        False
9       3009.64                        False
======================================================

üìä Total Amount Statistics:
- Mean   : 2548.40
- Median : 1078.58
- Min    : 0.00
- Max    : 246580.00
Total Amount Statistics:
 mean        2548.399581
median      1078.580000
min            0.000000
max       246580.000000
Name: total_amount, dtype: float64

Regional Analysis:
                            Total_Revenue  Avg_Order_Value  Order_Count
region
souss-massa                   1481909.75      4209.970881          352
guelmim-oued noun             1295060.15      3408.053026          380
dr√¢a-tafilalet                1210732.76      3120.445258          388
dakhla-oued ed-dahab          1185536.45      2802.686643          423
marrakech-safi                1095873.31      2672.861732          410
casablanca-settat              1087832.9      2417.406444          450
f√®s-mekn√®s                    1043228.62      2914.046425          358
rabat-sal√©-k√©nitra             902869.83      2420.562547          373
la√¢youne-sakia el hamra        868389.86      2398.867017          362
oriental                   742286.937477      1690.858628          439
tanger-t√©touan-al hoce√Øma      718221.85      1666.408005          431
b√©ni mellal-kh√©nifra           568537.48       1407.27099          404
Unknown                         39483.29      1196.463333           33

Category Analysis:
                    Total_Revenue  Avg_Order_Value  Order_Count
product_category
Fashion               2255771.16      2701.522347          835
Books                 2086485.41      2544.494402          820
Home & Kitchen    2057801.187477      2543.635584          809
Electronics           2000966.75      2602.037386          769
Beauty                1972157.11      2370.381142          832
Sports                1866781.57      2529.514322          738

Top 5 Products:
 product_id
P00221    251053.14
P00055    248825.17
P00053    243288.58
P00343    224878.37
P00219    205135.78
Name: total_amount, dtype: Float64
order_date
2023-01-31       1192515.11
2023-02-28    902927.157477
2023-03-31        839383.78
2023-04-30       1079485.97
2023-05-31        987397.62
Freq: ME, Name: total_amount, dtype: Float64
order_date
2023-01-31    3180.040293
2023-02-28    2727.876609
2023-03-31    2191.602559
2023-04-30    2833.296509
2023-05-31    2974.089217
Freq: ME, Name: total_amount, dtype: Float64
Best month: 2023-09-30 00:00:00
Revenue: 1892719.89

In [8]:
df = full_preprocessing("../data/morocco_ecommerce.json")

[TEST MODE] Cleaning 'quantity' ‚Üí BEFORE:
0    3
1    3
2    2
3    4
4    1
5    4
6    4
7    1
8    4
9    4
Name: quantity, dtype: int64

[TEST MODE] Cleaning 'quantity' ‚Üí AFTER:
0    3
1    3
2    2
3    4
4    1
5    4
6    4
7    1
8    4
9    4
Name: quantity, dtype: int64

[TEST MODE] Cleaning 'unit_price' ‚Üí BEFORE:
0    438.40
1    417.67
2    384.54
3    206.38
4    426.41
5    135.49
6    299.21
7    473.38
8    578.45
9    752.41
Name: unit_price, dtype: float64

[TEST MODE] Cleaning 'unit_price' ‚Üí AFTER:
0    438.40
1    417.67
2    384.54
3    206.38
4    426.41
5    135.49
6    299.21
7    473.38
8    578.45
9    752.41
Name: unit_price, dtype: float64

========== [TEST MODE] clean_city_column() ==========

BEFORE cleaning ('city'):
0     Casablanca
1       Kh√©nifra
2    B√©ni Mellal
3        Berkane
4       Kh√©nifra
5      Marrakech
6        T√©touan
7         Agadir
8         Dakhla
9       Kh√©nifra
Name: city, dtype: object

Raw unique values (sample):
['Casablanca' 'Kh√©nifra' 'B√©ni Mellal' 'Berkane' 'Marrakech' 'T√©touan'
 'Agadir' 'Dakhla' 'Errachidia' 'Nador' 'Tanger' 'La√¢youne' 'Settat'
 'Rabat' 'Ouarzazate' 'Oujda' 'Mekn√®s' 'Guelmim' 'Mohammedia' 'Tiznit']

Values replaced by mapping:
No values were replaced.

Unknown city names (not in mapping):
['al hoce√Øma', 'dakhla', 'k√©nitra', 'rabat']

AFTER cleaning:
0     casablanca
1       kh√©nifra
2    b√©ni mellal
3        berkane
4       kh√©nifra
5      marrakech
6        t√©touan
7         agadir
8         dakhla
9       kh√©nifra
Name: city, dtype: object

=====================================================

========== [TEST MODE] clean_region_column() ==========

BEFORE cleaning ('region'):
0            Casablanca-Settat
1         B√©ni Mellal-Kh√©nifra
2         B√©ni Mellal-Kh√©nifra
3                     Oriental
4         B√©ni Mellal-Kh√©nifra
5               Marrakech-Safi
6    Tanger-T√©touan-Al Hoce√Øma
7                  Souss-Massa
8         Dakhla-Oued Ed-Dahab
9         B√©ni Mellal-Kh√©nifra
Name: region, dtype: object

Raw unique region values (sample):
['Casablanca-Settat' 'B√©ni Mellal-Kh√©nifra' 'Oriental' 'Marrakech-Safi'
 'Tanger-T√©touan-Al Hoce√Øma' 'Souss-Massa' 'Dakhla-Oued Ed-Dahab'
 'Dr√¢a-Tafilalet' 'La√¢youne-Sakia El Hamra' 'Rabat-Sal√©-K√©nitra'
 'F√®s-Mekn√®s' 'Guelmim-Oued Noun']

Values replaced by mapping:
No region names were replaced.

Unknown region names (not in mapping):
None

AFTER cleaning:
0            casablanca-settat
1         b√©ni mellal-kh√©nifra
2         b√©ni mellal-kh√©nifra
3                     oriental
4         b√©ni mellal-kh√©nifra
5               marrakech-safi
6    tanger-t√©touan-al hoce√Øma
7                  souss-massa
8         dakhla-oued ed-dahab
9         b√©ni mellal-kh√©nifra
Name: region, dtype: object

=====================================================

========== [TEST MODE] complete_amounts() ==========

Missing BEFORE:
quantity        0
unit_price      0
total_amount    0
dtype: int64

Rows where total_amount can be computed: 0
Rows where unit_price can be computed: 0
Rows where quantity can be computed: 0

Replacing remaining quantity NaN with mean = 3
Replacing remaining unit_price NaN with mean = 401.94

AFTER fixing:
   quantity  unit_price  total_amount
0         3      438.40        1315.2
1         3      417.67       1253.01
2         2      384.54        769.08
3         4      206.38        825.52
4         1      426.41        426.41
5         4      135.49        541.96
6         4      299.21       1196.84
7         1      473.38        473.38
8         4      578.45        2313.8
9         4      752.41       3009.64

Missing AFTER:
quantity        0
unit_price      0
total_amount    0
dtype: int64
=====================================================

========== [TEST MODE] clean_region_column() ==========

BEFORE cleaning ('region'):
0            Casablanca-Settat
1         B√©ni Mellal-Kh√©nifra
2         B√©ni Mellal-Kh√©nifra
3                     Oriental
4         B√©ni Mellal-Kh√©nifra
5               Marrakech-Safi
6    Tanger-T√©touan-Al Hoce√Øma
7                  Souss-Massa
8         Dakhla-Oued Ed-Dahab
9         B√©ni Mellal-Kh√©nifra
Name: region, dtype: object

Raw unique region values (sample):
['Casablanca-Settat' 'B√©ni Mellal-Kh√©nifra' 'Oriental' 'Marrakech-Safi'
 'Tanger-T√©touan-Al Hoce√Øma' 'Souss-Massa' 'Dakhla-Oued Ed-Dahab'
 'Dr√¢a-Tafilalet' 'La√¢youne-Sakia El Hamra' 'Rabat-Sal√©-K√©nitra'
 'F√®s-Mekn√®s' 'Guelmim-Oued Noun']

Values replaced by mapping:
No region names were replaced.

Unknown region names (not in mapping):
None

AFTER cleaning:
0            casablanca-settat
1         b√©ni mellal-kh√©nifra
2         b√©ni mellal-kh√©nifra
3                     oriental
4         b√©ni mellal-kh√©nifra
5               marrakech-safi
6    tanger-t√©touan-al hoce√Øma
7                  souss-massa
8         dakhla-oued ed-dahab
9         b√©ni mellal-kh√©nifra
Name: region, dtype: object

=====================================================

========== [TEST MODE] clean_city_column() ==========

BEFORE cleaning ('city'):
0     Casablanca
1       Kh√©nifra
2    B√©ni Mellal
3        Berkane
4       Kh√©nifra
5      Marrakech
6        T√©touan
7         Agadir
8         Dakhla
9       Kh√©nifra
Name: city, dtype: object

Raw unique values (sample):
['Casablanca' 'Kh√©nifra' 'B√©ni Mellal' 'Berkane' 'Marrakech' 'T√©touan'
 'Agadir' 'Dakhla' 'Errachidia' 'Nador' 'Tanger' 'La√¢youne' 'Settat'
 'Rabat' 'Ouarzazate' 'Oujda' 'Mekn√®s' 'Guelmim' 'Mohammedia' 'Tiznit']

Values replaced by mapping:
No values were replaced.

Unknown city names (not in mapping):
['al hoce√Øma', 'dakhla', 'k√©nitra', 'rabat']

AFTER cleaning:
0     casablanca
1       kh√©nifra
2    b√©ni mellal
3        berkane
4       kh√©nifra
5      marrakech
6        t√©touan
7         agadir
8         dakhla
9       kh√©nifra
Name: city, dtype: object

=====================================================

========== [TEST MODE] normalize_date() ==========

Before normalization (raw values of 'order_date'):
0   2023-03-14
1   2023-01-13
2   2023-08-17
3   2023-09-06
4   2023-10-09
5   2023-12-12
6   2023-07-01
7   2023-10-29
8   2023-09-18
9   2023-04-11
Name: order_date, dtype: datetime64[ns]

Unique sample values BEFORE:
['2023-03-14' '2023-01-13' '2023-08-17' '2023-09-06' '2023-10-09'
 '2023-12-12' '2023-07-01' '2023-10-29' '2023-09-18' '2023-04-11'
 '2023-11-04' '2023-01-20' '2023-08-06' '2023-12-09' '2023-08-28']

Invalid date values detected: 0

After normalization (parsed values):
0   2023-03-14
1   2023-01-13
2   2023-08-17
3   2023-09-06
4   2023-10-09
5   2023-12-12
6   2023-07-01
7   2023-10-29
8   2023-09-18
9   2023-04-11
Name: order_date, dtype: datetime64[ns]

=====================================================

========== [TEST MODE] normalize_date() ==========

Before normalization (raw values of 'ship_date'):
0   2023-03-17
1   2023-01-15
2   2023-08-22
3   2023-09-13
4   2023-10-11
5   2023-12-20
6   2023-07-08
7   2023-10-30
8   2023-09-28
9   2023-04-11
Name: ship_date, dtype: datetime64[ns]

Unique sample values BEFORE:
['2023-03-17' '2023-01-15' '2023-08-22' '2023-09-13' '2023-10-11'
 '2023-12-20' '2023-07-08' '2023-10-30' '2023-09-28' '2023-04-11'
 '2023-11-11' '2023-01-24' '2023-08-13' '2023-12-17' '2023-09-04']

Invalid date values detected: 0

After normalization (parsed values):
0   2023-03-17
1   2023-01-15
2   2023-08-22
3   2023-09-13
4   2023-10-11
5   2023-12-20
6   2023-07-08
7   2023-10-30
8   2023-09-28
9   2023-04-11
Name: ship_date, dtype: datetime64[ns]

=====================================================

========== [TEST MODE] mark_outliers_iqr() ==========
Column analyzed : total_amount
Lower bound     : -1084.05875
Upper bound     : 3354.77125

Number of outliers detected : 45

Example outliers (first 10):
      order_id customer_id order_date  ship_date                     region  \
66   ORD000067    CUS01811 2023-07-11 2023-07-19                   oriental
226  ORD000227    CUS01617 2023-04-24 2023-04-27  tanger-t√©touan-al hoce√Øma
256  ORD000257    CUS01355 2023-01-22 2023-01-30       dakhla-oued ed-dahab
335  ORD000336    CUS01616 2023-01-26 2023-02-03  tanger-t√©touan-al hoce√Øma
471  ORD000472    CUS01608 2023-06-17 2023-06-23  tanger-t√©touan-al hoce√Øma
568  ORD000569    CUS01285 2023-04-25 2023-05-05                 f√®s-mekn√®s
572  ORD000573    CUS00565 2023-03-28 2023-03-29                souss-massa
591  ORD000592    CUS01805 2023-07-30 2023-08-05                   oriental
617  ORD000618    CUS00533 2023-03-08 2023-03-10       dakhla-oued ed-dahab
625  ORD000626    CUS00465 2023-09-10 2023-09-13                   oriental

           city    payment_method product_category product_id  quantity  ...  \
66        oujda  Cash On Delivery           Sports     P00511         5  ...
226  al hoce√Øma     Bank Transfer           Sports     P00473         5  ...
256      dakhla    Mobile Payment      Electronics     P00956         5  ...
335      tanger       Credit Card   Home & Kitchen     P00487         5  ...
471     t√©touan    Mobile Payment      Electronics     P00558         5  ...
568      mekn√®s     Bank Transfer   Home & Kitchen     P00585         5  ...
572      agadir    Mobile Payment           Sports     P00567         5  ...
591     berkane  Cash On Delivery          Fashion     P00349         5  ...
617      dakhla     Bank Transfer          Fashion     P00784         5  ...
625       nador  Cash On Delivery   Home & Kitchen     P00802         5  ...

     ship_year  ship_month ship_day ship_weekday  discount_rate  \
66        2023           7       19    Wednesday            0.1
226       2023           4       27     Thursday            0.1
256       2023           1       30       Monday            0.1
335       2023           2        3       Friday            0.1
471       2023           6       23       Friday            0.0
568       2023           5        5       Friday            0.1
572       2023           3       29    Wednesday            0.1
591       2023           8        5     Saturday            0.2
617       2023           3       10       Friday            0.2
625       2023           9       13    Wednesday            0.1

     discount_amount  net_amount      tax  zscore_total_amount  \
66           347.825    3130.425  626.085             3.004122
226          336.635    3029.715  605.943             2.856164
256          363.915    3275.235  655.047             3.216869
335           347.32     3125.88  625.176             2.997445
471              0.0     3574.15   714.83             3.130924
568           406.13     3655.17  731.034             3.775048
572           346.94     3122.46  624.492             2.992420
591           678.92     2715.68  543.136             2.893517
617           737.87     2951.48  590.296             3.283244
625          395.055    3555.495  711.099             3.628611

     is_outlier_total_amount_iqr
66                          True
226                         True
256                         True
335                         True
471                         True
568                         True
572                         True
591                         True
617                         True
625                         True

[10 rows x 28 columns]

Preview of column with flag :
   total_amount  is_outlier_total_amount_iqr
0        1315.2                        False
1       1253.01                        False
2        769.08                        False
3        825.52                        False
4        426.41                        False
5        541.96                        False
6       1196.84                        False
7        473.38                        False
8        2313.8                        False
9       3009.64                        False
======================================================

üìä Total Amount Statistics:
- Mean   : 1206.24
- Median : 1074.53
- Min    : 20.00
- Max    : 4761.90
Total Amount Statistics:
 mean      1206.237524
median    1074.530000
min         20.000000
max       4761.900000
Name: total_amount, dtype: float64

Regional Analysis:
                            Total_Revenue  Avg_Order_Value  Order_Count
region
tanger-t√©touan-al hoce√Øma      560549.32      1229.274825          456
dakhla-oued ed-dahab           549650.35      1249.205341          440
casablanca-settat              541385.54      1184.651072          457
oriental                       532619.94      1162.925633          458
marrakech-safi                 529646.89      1228.879095          431
dr√¢a-tafilalet                 493374.01      1212.221155          407
b√©ni mellal-kh√©nifra           481615.65      1146.703929          420
souss-massa                    473199.57      1255.171273          377
guelmim-oued noun              470306.82      1193.672132          394
f√®s-mekn√®s                     469487.51      1194.624707          393
rabat-sal√©-k√©nitra             468084.95       1194.09426          392
la√¢youne-sakia el hamra        461267.07       1230.04552          375

Category Analysis:
                   Total_Revenue  Avg_Order_Value  Order_Count
product_category
Fashion              1047079.55       1217.53436          860
Books                1035217.81      1210.781064          855
Beauty               1032151.32      1187.746053          869
Home & Kitchen        993370.46      1191.091679          834
Sports                 964754.3      1241.640026          777
Electronics           958614.18      1190.825068          805

Top 5 Products:
 product_id
P00024    18462.45
P00219    16164.06
P00174    15941.76
P00253    15874.74
P00301    15652.03
Name: total_amount, dtype: Float64
order_date
2023-01-31    516488.99
2023-02-28    463457.84
2023-03-31    555563.33
2023-04-30    534296.37
2023-05-31    477276.37
Freq: ME, Name: total_amount, dtype: Float64
order_date
2023-01-31    1212.415469
2023-02-28    1213.240419
2023-03-31    1259.780794
2023-04-30    1208.815317
2023-05-31    1223.785564
Freq: ME, Name: total_amount, dtype: Float64
Best month: 2023-07-31 00:00:00
Revenue: 556692.39

## Save Cleaned Dataset

### The cleaned version of the dataset is saved in ../results/cleaned_dataset.csv

In [6]:
import os

def validate_output_folder(path):
    folder = os.path.dirname(path)
    if folder != "" and not os.path.exists(folder):
        os.makedirs(folder)

In [7]:
validate_output_folder("../results/cleaned_dataset.csv")
df.to_csv("../results/cleaned_dataset.csv", index=False)
"Saved!"

'Saved!'